@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');:root {
  --font-fraunces:"Fraunces", serif;
  --font-outfit: "Outfit", sans-serif;

  --background: #ffffff;
  --foreground: #171717;
}

